<source>
    type tail
    format /^(?<time>[^ ]* [^ ]*) (?<message>.*)/
    time_format %Y-%m-%d %H:%M:%S
    path /var/log/aws/codedeploy-agent/codedeploy-agent.log
    pos_file /var/log/td-agent/codedeploy-agent.log.pos
    tag graylog2.codedeploy-agent
</source>
