<match graylog2.<%= @log_name %>>
  @type copy
  <store>
    @type kinesis_streams
    region <%= @stream_region %>
    stream_name <%= @stream_name %>
  </store>
  <store>
    flush_interval 30s
    type gelf
    protocol tcp
    host logs.mobicars.com.br
    port 12202
  </store>
  <store>
    type stdout
  </store>
</match>
