; Managed by puppet
zend_extension=opcache.so
extension = opcache.so
opcache.enable=1
opcache.enable_cli=1
opcache.memory_consumption=<%= @opcache_mem_consumption %>
opcache.max_accelerated_files=<%= @opcache_max_accelerated_files %>
opcache.max_wasted_percentage=<%= @opcache_max_wasted_percentage %>
opcache.validate_timestamps=0
opcache.interned_strings_buffer=16
opcache.revalidate_freq=60
opcache.fast_shutdown=1
